#container-login {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgba(23, 24, 26, 0.914);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 4.2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    min-width: 300px;
}

#container-login #user-login {
    margin: 0 auto;
    background-color: #45b692;
    position: relative;
    bottom: 40px;
    border-radius: 50%;
    width: 80px;
}

#container-login form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#container-login h1 {
    display: flex;
    justify-content: center;
    color: white;
}

#container-login label {
    color: rgb(220, 212, 212);
    margin-top: 1rem;
    margin-bottom: 4px;
}

#container-login input {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

#container-login a {
    display: flex;
    justify-content: end;
    color: gray;
    margin-top: 3px;
}

#container-login button {
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 8%;
    width: 95%;
    padding: 12px;
    border-radius: 8px;
    color: aliceblue;
    background-color: #45b692;
    border: none;
}

#container-login #a-btn-criar button {
    background-color: rgba(23, 24, 26, 0.914);
    box-shadow: 0px 0px 1px 3px #45b692;
}

#container-login #a-btn-criar {
    text-decoration: none;
}



