.navBar {
    display: flex;
    justify-content: center;
    background-color: #121C23;
}

.navBar ul {
    display: flex;
    width: 80%;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
}

.navBar ul a {
    text-decoration: none;
    /* margin: 0 auto; */
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding: 12px 5px;
    transition: 0.3s;
}

.navBar ul li {
    /* display: flex; 
    align-items: center;
    justify-content: center; */
    list-style: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.navBar ul #liDPT {
    padding: 12px 2px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navBar .bordaPadrao {
    border-left: 1px solid #3a7261;
}

.navBar a:hover {
    background-color: #3a7261;
}

.navBar li #setaParaBaixo {
    color: #dadada;
    width: 15px;
    transition: 0.3s;
    margin-right: 10px;
}

.navBar li:hover #setaParaBaixo {
    transform: rotate(180deg);
}

.navBar #separador {
    min-width: 1px;
    height: 90%;
    /* border: 1px solid black; */
    background-color: #ffffff9a;
}