
.containerFooter {
    display: block;
    height: auto;
    background-color: var(--cyan-950);
}

.containerFooter section.caixas-informacoes {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    column-gap: 5vw;
}

.containerFooter div.box {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.containerFooter div.box h5 {
    margin-bottom: 1rem;
    color: var(--cyan-50);
}

.containerFooter div.box ul li {
    list-style: none;
    margin-bottom: 7px;
    color: var(--cyan-50);
}

.containerFooter div.pagamentos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8vw;
    max-width: 250px;
}

.containerFooter div.pagamentos img {
    width: 4.5rem;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
    height: 40px;
}

.containerFooter div.pagamentos img:nth-child(5) {
    padding: 0px 12px;
}

.containerFooter div.redes-sociais {
    display: flex;
}

.containerFooter div.redes-sociais svg {
    width: 18px;
    height: auto;
    fill: var(--cyan-50);
}

.containerFooter div.redes-sociais p {
    margin-left: 5px;
    color: var(--cyan-50);
}

.containerFooter div.redes-sociais:not(:last-child) {
    margin-bottom: 7px;
}

.containerFooter div.box img.loja-aplicativo {
    width: 4rem;
    height: auto;
}

.containerFooter div.box img.loja-aplicativo:last-child {
    margin-left: 3px;
}

.rodape {
    width: 100%;
    
    height: 5rem;
    background-color: var(--cyan-950);
    color: var(--cyan-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .rodape hr {
    display: block;
    border-color: var(--cyan-50);
    margin-bottom: 1rem;
    width: 80%;
    max-width: 1300px;
}