.boxInputAdmin {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.boxInputAdmin input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: 0;
    border: none;
    font-size: 1rem;
    box-shadow: 0px 0px 1px 1px var(--slate-600);
    border-radius: 6px;
}

.boxInputAdmin input:hover {
    box-shadow: 0px 0px 1px 2px var(--teal-600);
}

