.containerResumoFinalizar {
    display: flex;
    flex-direction: column;
}

.mainCarrinho .containerResumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 290px;
    box-shadow: rgba(40, 41, 61, 0.10) 0px 0px 2px, rgba(96, 97, 112, 0.16) 0px 0.5px 2px;
    background-color: #fff;
    border-radius: 8px;
}

.mainCarrinho .containerResumo h2 {
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mainCarrinho .containerResumo .resumoCarrinho {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 90%;
    padding: 1rem 0px;
}

.mainCarrinho .containerResumo .resumoCarrinho div {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.mainCarrinho .containerResumo .resumoCarrinho p {
    font-size: 1rem;
}

.containerResumoFinalizar button{
    width: 100%;
    background-color: green;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 1rem;
}