.mainCarrinho {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.mainCarrinho .containerPrincipal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainCarrinho .containerPrincipal .produtosCarrinho {
    /* border: 1px solid black; */
    border-spacing: 0;
    background-color: #fff;
    border-radius: 8px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho th {
    padding: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.mainCarrinho .containerPrincipal .produtosCarrinho td {
    padding: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxImgDescricao {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade .qtd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #be0707;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxPreco {

    text-align: center;
}

/* .mainCarrinho .containerPrincipal .produtosCarrinho {
    
} */

/* .mainCarrinho .containerPrincipal .boxImgDescricao p {
    
} */

.mainCarrinho .containerPrincipal .limparCarrinho {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #c9c9c9;
    margin-left: auto;
    padding: 8px;
    border-radius: 6px;
}

.mainCarrinho .containerPrincipal .containerCupomFrete {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .cupomDesconto {
    background-color: #c9c9c9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 6px;
    white-space: nowrap;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .cupomDesconto input {
    font-size: 1.1rem;
    padding: 4px;
    width: 100%;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .cupomDesconto button {
    font-size: 1.1rem;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .calculoFrete {
    background-color: #c9c9c9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 6px;
    white-space: nowrap;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .calculoFrete input {
    font-size: 1.1rem;
    padding: 4px;
    width: 100%;
}

.mainCarrinho .containerPrincipal .containerCupomFrete .calculoFrete button {
    font-size: 1.1rem;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mainCarrinho table img {
    width: 100px;
}

.mainCarrinho .containerResumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 290px;
    border: 1px solid black;
    height: 330px;
}

.mainCarrinho .containerResumo h2 {
    margin: 0 auto;
    background-color: rgb(177, 177, 177);
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.mainCarrinho .containerResumo .resumoCarrinho {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 90%;
}

.mainCarrinho .containerResumo .resumoCarrinho div {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.mainCarrinho .containerResumo button {
    width: 90%;
    background-color: green;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 1.2rem;
}