.mainCarrinho .containerPrincipal .produtosCarrinho {
    border-spacing: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(40, 41, 61, 0.10) 0px 0px 2px, rgba(96, 97, 112, 0.16) 0px 0.5px 2px;

}

.mainCarrinho table img {
    width: 100px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho th {
    padding: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.mainCarrinho .containerPrincipal .produtosCarrinho td {
    padding: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxImgDescricao {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 120px;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade .qtd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade .qtd span {
   width: 25px;
   display: flex;
   justify-content: center;
}


.mainCarrinho .containerPrincipal .produtosCarrinho .boxQuantidade .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #be0707;
}

.mainCarrinho .containerPrincipal .produtosCarrinho .boxPreco {
    min-width: 120px;
    text-align: center;
}
