@media (max-width:1200px) {

    /* HEADER */
    .containerHeaderItens {
        width: 90%;
    }

    /* NAVBAR */
    .navBar .lista li {
        font-size: 0.9rem;
    }

    .navBar .lista {
        width: 90%;
    }

    .dropdownMenu {
        top: 38px;
        width: 167px;
    }

    .dropdownMenu ul {
        width: 167px;
        left: 167px;
        height: 301px;
    }

    .dropdownMenu .listaPerife {
        top: -38px;
    }

    .dropdownMenu .listaRedes {
        top: -75px;
    }

    .dropdownMenu .listaComputadores {
        top: -113px;
    }

    /* HOME */
    .containerMainPaginaProdutos {
        width: 90%;
    }

}

/* NAVBAR */
@media (max-width:950px) {
    .navBar .lista li {
        font-size: 0.8rem;
    }

    .dropdownMenu {
        top: 35px;
        max-width: 153px;
    }

    .dropdownMenu ul {
        width: 153px;
        left: 153px;
    }

    .dropdownMenu .listaPerife {
        top: -38px;
    }

    .dropdownMenu .listaRedes {
        top: -75px;
    }

    .dropdownMenu .listaComputadores {
        top: -113px;
    }

    .dropdownMenu li a {
        font-size: 0.9rem;
    }
}

@media (max-width:850px) {
    .navBar .lista {
        display: none;
    }
}


@media (max-width:600px) {

    /* FOOTER */
    .containerFooter section.caixas-informacoes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .rodape {
        width: 90%;
    }
}

@media (max-width:500px) {

    /* HOME */
    .containerProdutos {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
    }
}